.navbar-collapse{
	justify-content: flex-end;
}
.capitalize{
	text-transform: uppercase;
}
/*header*/
.relative{
	position: relative;
}
.banner-img{
	width: 100%;
	height: 30em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/header.jpg");
}
div.banner{
	text-align: center; 
	padding-top: 4em;
}
.round-btn{
	border-radius:  50px;
}
div.download-it{
	margin-top: 2.6em;
}
div.download-it li ,div.download-it ul{
	padding: 0em;
	list-style-type: none;
}
.fitur{
	margin-top: 2em;
}
div.media{
	padding: 1em;
}
div.media img{

	height: 50px;

}
/*pricing*/
div.features h2{
	text-align: center;
}
div.features img{
	display: block;
	margin :0 auto;
}
div.price{
	border : 15px solid #F2F4F5;
	padding: 3em;
	background-color: #fff;
	text-align: center;
}

.price h4,
.price h5,
.price p{
	display: block;
}

strong.price-figure{
	font-size: 2em;
}

/*contact info*/
div.contact-info{
	margin:0 auto;
	text-align: center;
	background-color: #F2F4F5;
	padding: 3em 0;
}
div.contact-info h3{
	padding: 1em 0;	
}
div.contact-items h5{
	margin:0.75em 0;
}

div.contact-items h5{
	width: 15em; 
	display: inline-block;
}

/*downlaod sectoin*/

div.download-template{
	margin:0 auto;
	text-align: center;
	width: 100%;	
	max-width: 400em;
	padding: 3em ;
}
div.download-template p{
	max-width: 50em;
	margin:0 auto;
	padding-bottom: 1.3em;
}
.footer-img{
	width: 100%;
	height: 20em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/footer.jpg");
}

/*plans*/
div.plans-container{
	background-color: #F2F4F5;
}
div.plans-container .row:first-child{

	width: 100%;
	max-width: 48em;
	margin:0 auto;
	text-align: center;
	padding: 7em 0 3em 0;
}
div.plans-container .row:nth-child(2){
	margin:0 2em;
	}